@import "tailwindcss";
@import "@nuxt/ui";
@plugin "@tailwindcss/typography";

@layer base {
    html {
        scroll-behavior: smooth;
    }
}

@theme static {
    --font-sans: "Noto Sans";
    --font-serif: "Noto Serif";

    --color-brand: #0f4e2b;
    --color-accent: #c58b3c;
    --color-paragraph: #211F1D;
    --color-description: #A1A5BC;
    --color-background: #F6F5F1;
    --color-perimeter: #D4D6DA;
}

@layer utilities {
    /* Paragraphs */
    .article-paragraph {
        @apply text-[1.3rem] font-serif font-normal leading-9 my-10 text-paragraph text-justify;
    }

    /* Titles */
    .article-title-1 {
        @apply text-xl uppercase leading-relaxed my-5 font-medium text-justify text-accent;
    }
}